{% extends "common/base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">Job View</h2>

{% for i in jobview %}
<div class="card">

<img src="{{i.company_logo}}" alt="" width="200px" height="100px">
  <h1>{{i.job_title}}</h1>
  <h1>{{i.company_description}}</h1>
  <h1>{{i.company_name}}</h1>

  <a href="{% url 'applyjob' i.id %}">
  <p><button>Apply Job</button></p>
</a>
  <a href="{% url 'editjob' i.id %}">
  <p><button> Edit</button></p>
     </a>

  <a href="{% url 'deletejob' i.id %}">
  <p><button>Delete</button></p>
  </a>
  <br>

</div>
{% endfor %}
</body>
</html>

{% endblock content %}